doctype html
html(lang="ru-RU")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', type='text/css', href='./css/main.min.css')
        title Document
    body
        h1.
            html: Здравствуйте, сэр!
        h2.
            css: Сер, если Вы видите после этого текста сердечко, то CSS работает!
        div.heart
        script(src='./common/index.js')
