// resolutions
$large__devices: 1200px;
$desktops: 992px;
$tablets: 768px;
$phones: 480px;

//config
@import 'config/_fn';
@import 'config/_mixin';

//layout
@import "node_modules/normalize.css/normalize";
@import 'layout/_tag_reset';
@import "layout/_fonts";
@import "layout/_base";



//test
@import 'test';